<body>
<h2>
  Curriculum Vitae of Tshepo Mokoena
</h2>

</body>
<div class="row">
  <div class="column" style="background-color:rgba(179, 52, 52, 0.137);">
    <h2>Tertiary Education</h2>
    <p>Name of Institution : Vaal University of Technology</p>
    <p> Year : 2013</p>
    <p> Subjects : Mathematics, Keyboarding Skills, Language literacy and Computer literacy</p>
    <p>Qualification : Certificate (for Introduction to IT)</p>
    <p>Institution : Vaal University of Technology</p>
    <p> Course : National diploma in Information Technology</p>
    <p> Year : 2014 – 2017</p>
    <p>Subjects : Development Software (VB.net, ADO.net, JAVA)</p>
    <p>System Software (Windows Server 2012, Windows 10,CISCO)</p>
    <p>Information Systems</p>
    <p>Business Analysis</p>
    <p>Web Management (HTML and PHP)</p>
    <p>Applied Communications Skills</p>
    <p>Applied Language Skills</p>
    <p>Programming Logic</p>
    <p>Accounting Skills</p>
    <p>Project management</p>
    <p>Information Technology Skills (Entrepreneurship, Legal skills)</p>
    <p>SQL and PL/SQL</p>
    <hr>
    <h2>Reference</h2>
    <p>Name : Dilila Cunha</p>
    <p> Position : Manager</p>
    <p>Contacts : 011-636-8152</p>
    <p>Name : Michelle Fredericks</p>
    <p>Position : Senior</p>
    <p> Contacts : 082 772 8773</p>
  </div>
  <div class="columna" style="background-color:aquamarine;">
    <h2>Personal Information</h2>
    <img src="../assets/a.png" style="width:200px ;border-radius: 50%;margin-top:-25px; ">
    <p> Name: Tshepo</p>
    <p>Surname : Mokoena</p>
    <p>Nationality : South African</p>
    <p>Gender : Male</p>
    <p>Identity number : 8908115407088</p>
    <p>Contact numbers : 0713708359/0832883917</p>
    <p>License : Code 10</p>
    <p>E-mail address : Mokoenatlp@gmail.com</p>
    <p> Home address : 2170 Manotshe Street </p>
    <p>City: Mapetla chiawelo</p>
    <p> Postal Code : 1818</p>
    <hr>
    <h2>Qualifications</h2>
    <p>Qualification : Senior Certificate</p>
    <p>Institute : Forest High school</p>
    <p>Subjects : Mathematics; Physical Science; Life Sciences; English : Afrikaans; Geography: Life Orientations </p>
    <p>Date : 2010</p>
    <p>Qualification : BSA (NQF Level 4)</p>
    <p>Institute : SBSA</p>
    <p>Date : 2011</p>
    <hr>
  </div>
</div>